<!-- Banner -->
<section class="container mt-5">
  <div class="text-center">
    <img src="/assets/css/images/R8MyTalkLogo.svg" alt="R8MyTalk" class="w-50"/>
    <h2 id="eventName" class="zrnic-font display-5"></h2>
  </div>
</section>
