<!-- Banner -->
<section id="banner2">
  <div class="content">
    <span class="image"><img src="/assets/css/images/homepagelogo.png" alt="" /></span>
    <h2 id="eventName"></h2>
  </div>
</section>
