<header id="header">
    <h1 id="logo">
        
        
        <a href="../homePage">
            <span>R</span>
            <span>8</span>
            <span>M</span>
            <span>y</span>
            <span>T</span>
            <span>A</span>
            <span>L</span>
            <span>K</span>
        </a>
    </h1>


    <nav id="nav" class="homepage-li">
        <ul>
            <li><a href="../homePage">Home</a></li>
    
            
            <% if (user) { %>

                <li><a href="../contacts">Contacts</a></li>

              
                <li>
                    <a href = "../profilePage"><%= "Hi, " + user.displayName %></a>
                    <ul>
                        <li><a href = "../profilePage">Profile Page</a></li>
                        <li><a href="../logout" name="logout">Logout</a></li>
                        
                    </ul>
                </li>
            <% } else { %>
                <li><a href="../login" class="button primary">Log In</a></li>
            <% } %>
            
        </ul>
    </nav>
</header>