<template>
  <!-- card -->
  <div class="card mb-3 mx-auto" style="max-width: 540px; cursor: poniter">
    <!-- row -->
    <div class="row g-0">
      <!-- img col -->
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <img alt="Profile Picture" class="img-fluid rounded-start" style="height: 100%" />
      </div>
      <!-- data col -->
      <div class="col-md-8 justify-content-center align-items-center">
        <div class="card-body">
          <h5 class="card-title h1"></h5>
          <p class="card-text lead"></p>
        </div>
      </div>
    </div>
  </div>
</template>
