<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

<!-- Testing purposes - Joseph-test-branch

-->
<html>
	<head>
		<title>R8MyTalk</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" type="text/css" />

		<noscript><link rel="stylesheet" href="../Public/assets/css/main.css" /></noscript>
	</head>
	<body class="is-preload" >
		<div id="page-wrapper">


			<%- include('partials/navbar') %>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2 id="banner-logo">Welcome to R8MyTalk</h2>
							<p>Make your audience your best promoters.</p>
						</header>
						<span class="image"><img src="assets/css/images/loginlogo2.png" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="assets/css/images/hero.png" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<header>
										<h2>Audience to speakers</h2>
										<p> R8MyTalk is your all-in-one platform for enhancing your speaking powers with valuable, real-time feedback</p>
									</header>
								</div>
								<div class="col-4 col-12-medium">
									<p>R8MyTalk is a groundbreaking app that revolutionizes the way speakers  
										engage with their audience. With its real-time feedback and interactive tools, 
										R8MyTalk empowers speakers to receive immediate insights from their audience. 
										</p>
								</div>
								<div class="col-4 col-12-medium">
									<p> By offering valuable data-driven insights and facilitating connections among speakers,
										 R8MyTalk is a dynamic resource for individuals looking to boost their confidence and create more impactful presentations. 
										 R8MyTalk is the go-to app for harnessing the power of real-time feedback and audience engagement.</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="assets/css/images/hero-2.png" alt="" /></span>
					<div class="content">
						<header>
							<h2>Why to choose R8MyTalk</h2>
						</header>
						<p>At R8MyTalk, we believe that every speaker has the potential to be great. 
							Our platform is a powerful tool to help you unlock your true speaking potential. 
							We are committed to helping you succeed by providing a supportive and innovative environment for speakers and their audiences.</p>
						<ul class="actions">
							
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="assets/css/images/hero-3.png" /></span>
					<div class="content">
						<header>
							<h2>Join R8MyTalk Community</h2>
							<p>Elevate your speaking game with R8MyTalk, where real-time feedback transforms your presentations into memorable experiences!</p>
						</header>
						<p>Join our community of speakers, presenters, and performers today and explore the possibilities of enhancing your public speaking skills. Together, we can change the way you connect with your audience!</p>
						<ul class="actions">
							
						</ul>
					</div>
					<a href="#footer" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
			<!--




<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Accumsan sed tempus adipiscing blandit</h2>
							<p>Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat</p>
						</header>
						<div class="box alt">
							<div class="row gtr-uniform">
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-chart-area"></span>
									<h3>Ipsum sed commodo</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-comment"></span>
									<h3>Eleifend lorem ornare</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-flask"></span>
									<h3>Cubilia cep lobortis</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-paper-plane"></span>
									<h3>Non semper interdum</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-file"></span>
									<h3>Odio laoreet accumsan</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-lock"></span>
									<h3>Massa arcu accumsan</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
							</div>
						</div>
						<footer class="major">
							<ul class="actions special">
								<li><a href="#" class="button">Magna sed feugiat</a></li>
							</ul>
						</footer>
					</div>
				</section>


			-->
				

			<!-- Five -->
				<!--section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Magna faucibus lorem diam</h2>
							<p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
						</header>
						<form method="post" action="#" class="cta">
							<div class="row gtr-uniform gtr-50">
								<div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" /></div>
							</div>
						</form>
					</div>
				</section-->

			<!-- Footer -->
				<footer id="footer">
					<img src="assets/css/images/homepagelogo.png" class="center" alt="" />
					<!--ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul-->
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			

	</body>
</html>