body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


/* Style for square question container */

#question-container {
    width: 500px;
    height: 50px;
    text-align: center;
    margin-bottom: 10px;
    /* Add some margin to separate the question and textarea */
}


/* Style for square textbox */

#message {
    width: 500px;
    height: 100px;
    margin-bottom: 10px;
}

#survey-ending {
    margin-top: 10px;
    /* Add a small margin above the "Next" button */
}


/* Center-align the "question-container" */

#question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner2 .content {
    padding: 20px;
}