/* Adjust placeholder text color in searchbar */
#searchInput::placeholder {
  color: lightgray !important;
}

#returnToSearchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
