<!-- Contact Form -->
<section id="contact-section" class="d-none">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="contactButton-container">
          <h3 id="contactInfo">Contact Information</h3>
        </div>

        <form class="zrnic-font lead">
          <!-- Name input -->
          <div class="form-group">
            <label for="fullName">Full Name (optional)</label>
            <input type="text" class="form-control" name="fullName" id="fullName">
          </div>

          <!-- Phone input -->
          <div class="form-group mt-4">
            <label for="phoneNumber">Phone Number (optional)</label>
            <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber">
          </div>

          <!-- Email input -->
          <div class="form-group mt-4">
            <label for="email">Email (required)</label>
            <input type="email" class="form-control" name="email" id="email" required>
          </div>

          <!-- Role input -->
          <div class="form-group mt-4">
            <label for="role">Role (required)</label>
            <input type="text" class="form-control" name="role" id="role" required>
          </div>

          <!-- Submit button -->
          <div class="contactButton-container">
            <button type="submit" class="button primary" id="contact-submit-btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>