<!-- Contact Form -->
<section id="contact-section" style="display: none">
  <div class="contactButton-container">
    <h3 id="contactInfo">Contact Information</h3>
  </div>

  <!-- Textarea containers -->
  <div class="contactButton-container">
    <label for="fullName">Full Name (optional)</label><textarea
      name="message"
      id="fullName"
      placeholder="Enter your name (optional)"
    ></textarea>
  </div>
  <div class="contactButton-container">
    <label for="phoneNumber">Phone Number (optional)</label><textarea
      name="message"
      id="phoneNumber"
      placeholder="Enter your phone number (optional)"
    ></textarea>
  </div>
  <div class="contactButton-container">
    <label for="email">Email (required)</label><textarea
      name="message"
      id="email"
      placeholder="Enter your email (required) "
    ></textarea>
  </div>

  <div class="contactButton-container">
    <label for="role">Role (required)</label><textarea
      name="message"
      id="role"
      placeholder="What is your role? (required) "
    ></textarea>
  </div>

  <!-- Button containers -->
  <div class="contactButton-container">
    <button type="button" class="button primary" id="contact-submit-btn">Submit</button>
  </div>
</section>
