<form action="/login" method="POST">
	<span style="font-size: 1.5em;">Email:</span> <input required type="email" name="email"><br>
	<span style="font-size: 1.5em;">Password:</span> <input required type="password" name="password"><br>
	<button type="submit" class="button primary">Submit</button>
</form>