<form action="/register" method="POST">
	<span style="font-size: 1.5em;">Email:</span> <input type="email" name="email"><br>
	<span style="font-size: 1.5em;">Username:</span> <input type="text" name="userName"><br>
	<span style="font-size: 1.5em;">FirstName:</span> <input type="text" name="firstName"><br>
	<span style="font-size: 1.5em;">LastName:</span> <input type="text" name="lastName"><br>
	<span style="font-size: 1.5em;">Password:</span> <input type="password" name="password"><br>
	<button type="submit" class="button primary">Submit</button>
</form>